ul {
    list-style-type: none;
}

.navContainer {
    position: relative;
    margin: 20px auto;
    width: 81%;
}

.navItem1, .navItem2, .navItem3 {
    display: inline-block;
    position: relative;
    z-index: 100;
    width: max-content;
}

.navItem1 {
    padding: 5px 10px;
}

.navItem2, .navItem3 {
    padding: 25px 10px;
}

.drop {
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
}

.secondLevelMenu, .lastLevelMenu {
    display: flex;
    font-family: Source Sans Pro;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0px;
    position: absolute;
    left: 0;
    top: 100%;
    padding: 0 1000em;
    margin: 0 -1000em;
    z-index: 101;
    visibility: hidden;
}

.navItem1:hover>ul, .navItem2:hover>ul {
    visibility: visible;
    opacity: 1;
}

.navContainer a, .secondLevelMenu a, .lastLevelMenu a {
    text-decoration: none;
}

.navContainer a, .navContainer a:hover {
    color: black;
}

.secondLevelMenu {
    background: #E6E7E8;
    color: #00609C;
}

.secondLevelMenu a, .secondLevelMenu a:hover {
    color: #00609C;
}

.navItem1:hover .drop::after, .navItem2:hover .navBorder::after {
    content: " ";
    position: absolute;
    border-top: none;
    bottom: 0;
    right: 50%;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.navItem1:hover .drop::after {
    border-bottom: 7px solid #EEEEEE;
}

.navItem2:hover .navBorder::after {
    border-bottom: 7px solid #00609C;
}

.navItem2:hover .navBorder {
    padding-bottom: 2px;
    border-bottom: 1px solid #00609C;
}

.navItem3:hover a {
    border-bottom: 1px solid white;
}

.lastLevelMenu {
    background: #00609C;
}

.lastLevelMenu a, .lastLevelMenu a:hover {
    color: white;
}

.secondLevelMenu .a, .secondLevelMenu .a:hover {
    color: #00609C;
}

@media screen and (max-width: 768px) {
    .navContainer {
        width: 87%;
    }
}

@media screen and (max-width: 480px) {
    .navContainer {
        width: 99%;
    }

    .navContainer, .secondLevelMenu, .lastLevelMenu {
        flex-direction: column;
    }

    .navItem1:hover .drop {
        border-bottom: 1px solid black;
    }

    .navItem1:hover .drop::after, .navItem2:hover .navBorder::after {
        display: none;
    }

    .navContainer li, .secondLevelMenu li, .lastLevelMenu li {
        padding: 5px;
    }


}