.container-fluid {
  font-family: FranklinGothic URW;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.row {
  --bs-gutter-x: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
}